.body {
    margin: 0px;
    padding: 0px;
    font-family: 'Karla', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #999898;
    box-shadow: 0px 5px 10px rgba(146, 145, 145, 0.3); 
}

.header-nav {
    position: absolute;
    right: 0px;
    padding-top: 13px;
}

.menu-header {
    list-style: none;
    text-align: center; 
    margin-bottom: auto;
}

.menu-item {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
}

.content-image {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
}

.form-section {
    justify-content: center;
    margin: auto;
}

ul {
    display: flex;
}

.icon {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 210px;
    width: 45px;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    height: 45px;
    width: 100%;
    background-color: rgb(253, 253, 253);
    border-top: 1px solid rgba(192, 190, 190, 0.3);
}

.content-image {
    width: 50%;
    height: 100%;
    margin: auto;
}

.main-image {
    margin-top: 26px;
    margin-bottom: 16px;
}

.header-nav {
    padding-right: 210px;
}

.form-wrapper {
    text-align: center;
}

#search, #first, #second {
    height: 56px;
    width: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

#third {
    height: 56px;
    width: 200px;
    border-radius: 8px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 30px;
    margin: 60px auto;
}

.card {
    width: 200px;
    background-color: #ffff;
    box-shadow: 2px 2px 10px rgba(146, 145, 145, 0.3);
    border-radius: 4px;
}

.card-image {
    display: block;
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}

.card-headline {
    margin: 16px;
}

.card-subtitle {
    color:rgba(34, 31, 31, 0.3);
    margin-top: -15px;
}

.content-button {
    position: relative;
    left: 50%;
    width: 154px;
    height: 36px;
    background-color: #F2F9FE;
    border-radius: 8px;
    border: none;
    color: #2196F3;
    box-shadow: 2px 2px 10px rgba(146, 145, 145, 0.3);
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.content-button:hover {
    background-color: #e4eff7;
}